<div class="container-fluid d-flex align-items-center justify-content-center" style="background-image: url('/images/home-er-art.jpg'); background-size: cover; background-position: center; min-height: 100vh;">
    <div class="w-50 d-flex align-items-center justify-content-center about-me-container">
        <h2 class="about-me-title">About Me</h2>
        <img src="/images/deep-biswas.jpg" class="about-me-image" alt="Deep Biswas Profile Picture">
        <h4 class="about-me-subtitle">Software Developer & Student</h4>
    </div>
</div>