<div class="container-fluid p-0">
  <div class="position-relative">
    <img src="/images/radagon-er-art.jpg" class="img-fluid home-wallpaper" alt="Home Background Image">
    <div class="position-absolute animated-text-container">
      <h2 id="homeAnimatedText" class="animated-text">Software Developer</h1>
    </div>
    <div class="position-absolute introduction-text-container">
        <h2 class="introduction-text-h2">Hello, I'm <span class="intro-dbs">Deep Biswas</span></h2>
        <p class="introduction-text">I'm an experienced software developer and a student based in Ontario, Canada. I specialize in building web applications using Node.js, Express, and JavaScript.</p>
        <a href="mailto:deepbwas.alt@gmail.com"><button class="home-to-contact"><i class="fa-solid fa-square-arrow-up-right"></i> Send me a email</button></a>
    </div>
  </div>
</div>  