<div class="projects-container" style="background-image: url('/images/golem-er-art.jpg'); background-size: cover; background-position: center; min-height: 100vh;">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-card-row">
            <div class="project-card">
                <img src="/images/xbox-x-demo.png" class="project-card-image" alt="Project Image">
                <div class="card-body">
                    <h2 class="card-title">Xbox X Website</h2>
                    <span class="techs-used">HTML</span>
                    <span class="techs-used">CSS</span>
                    <span class="techs-used">JavaScript</span>
                    <p class="card-text">This is a clone website of Xbox X product page</p>
                    <div class="project-buttons">
                        <a class="project-link" href="https://deepbwas.github.io/CSSMainProject/" target="_blank" class="demo-button">
                            <button class="demobutton">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" fill="none"/>
                                        <g id="Frame 1">
                                            <rect width="24" height="24" fill="none"/>
                                            <path id="Polygon 1" d="M21 12L6 20.6603L6 3.33975L21 12Z" fill="currentColor" fill-opacity="1"/>
                                    </svg>                                            
                                    Demo
                                </span>
                            </button>
                        </a>
                        <a class="project-link" href="https://github.com/DeepBwas/CSSMainProject" target="_blank" class="code-button-link">
                            <button class="codebutton">
                                <span>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z" fill="currentColor"></path></svg>
                                    Code
                                </span>
                            </button>
                        </a>
                    </div>                      
                </div>
            </div>

            <div class="project-card">
                <img src="/images/ferrero-rocher-demo.png" class="project-card-image" alt="Project Image">
                <div class="card-body">
                    <h2 class="card-title">Ferrero Rocher Website</h2>
                    <span class="techs-used">HTML</span>
                    <span class="techs-used">CSS</span>
                    <p class="card-text">This is a demo candy website for CSS assignment</p>
                    <div class="project-buttons">
                        <a class="project-link" href="https://deepbwas.github.io/CSSAssignmentThree/" target="_blank" class="demo-button">
                            <button class="demobutton">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" fill="none"/>
                                        <g id="Frame 1">
                                            <rect width="24" height="24" fill="none"/>
                                            <path id="Polygon 1" d="M21 12L6 20.6603L6 3.33975L21 12Z" fill="currentColor" fill-opacity="1"/>
                                    </svg>                                            
                                    Demo
                                </span>
                            </button>
                        </a>
                        <a class="project-link" href="https://github.com/DeepBwas/CSSAssignmentThree.git" target="_blank" class="code-button-link">
                            <button class="codebutton">
                                <span>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z" fill="currentColor"></path></svg>
                                    Code
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div> 
    </div>
    <div class="projects-card-row">
        <div class="project-card">
                <img src="/images/screenscouter-demo.png" class="project-card-image" alt="Project Image">
                <div class="card-body">
                    <h2 class="card-title">Screenscouter Website</h2>
                    <span class="techs-used">HTML</span>
                    <span class="techs-used">CSS</span>
                    <span class="techs-used">JavaScript</span>
                    <p class="card-text">This is a movies search and lookup website</p>
                    <div class="project-buttons">
                        <a class="project-link" href="https://deepbwas.github.io/JavaScript-Assignment-04/" target="_blank" class="demo-button">
                            <button class="demobutton">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" fill="none"/>
                                        <g id="Frame 1">
                                            <rect width="24" height="24" fill="none"/>
                                            <path id="Polygon 1" d="M21 12L6 20.6603L6 3.33975L21 12Z" fill="currentColor" fill-opacity="1"/>
                                    </svg>                                            
                                    Demo
                                </span>
                            </button>
                        </a>
                        <a class="project-link" href="https://github.com/DeepBwas/JavaScript-Assignment-04.git" target="_blank" class="code-button-link">
                            <button class="codebutton">
                                <span>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z" fill="currentColor"></path></svg>
                                    Code
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="project-card">
                <img src="/images/home-automation-demo.png" class="project-card-image" alt="Project Image">
                <div class="card-body">
                    <h2 class="card-title">Arduino Home Automation</h2>
                    <span class="techs-used">C++</span>
                    <span class="techs-used">Arduino</span>
                    <span class="techs-used">Tinkercad</span>
                    <p class="card-text">This is home automation project using IOT and Arduino</p>
                    <div class="project-buttons">
                        <a class="project-link" href="https://www.tinkercad.com/things/2DVQaQJ4NBK-smart-home-by-deep-b?sharecode=PSBjSqXQhajJO5JCmNmuZSXOCwaOnbxOQkkRDZSuV0A" target="_blank" class="demo-button">
                            <button class="demobutton">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="24" height="24" fill="none"/>
                                        <g id="Frame 1">
                                            <rect width="24" height="24" fill="none"/>
                                            <path id="Polygon 1" d="M21 12L6 20.6603L6 3.33975L21 12Z" fill="currentColor" fill-opacity="1"/>
                                    </svg>                                            
                                    Demo
                                </span>
                            </button>
                        </a>
                        <a class="project-link" href="https://github.com/DeepBwas/arduino-home-automation.git" target="_blank" class="code-button-link">
                            <button class="codebutton">
                                <span>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z" fill="currentColor"></path></svg>
                                    Code
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div> 
    </div>
</div>