/* Custom Fonts */
@font-face {
  font-family: 'Rolf';
  src: url(../fonts/Rolf-Medium.otf);
}
@font-face {
  font-family: 'Arida';
  src: url(../fonts/Arida-Regular.ttf);
}
@font-face {
  font-family: 'Nata';
  src: url(../fonts/Nata-Light.otf);
}
@font-face {
  font-family: 'Robusto';
  src: url(../fonts/Robusto-Black.ttf);
}
@font-face {
  font-family: 'SF-Pro';
  src: url(../fonts/SF-Pro.otf);
}

/* Header and Navbar */
.nav-pills .nav-link {
  color: white;
}
.nav-pills .nav-link.active {
  background-color: #fcee0a;
  color: #0e0e0e;
}
.express-header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: 'SF-Pro', sans-serif;
}
.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-image {
  width: auto;
  height: 2rem;
}

/* Main Content */
.animated-text-container {
  top: 30%;
  right: 60%;
}
.animated-text {
  color: #f5f5f5;
  font-family: 'Arida', sans-serif;
  font-size: 4rem;
}
#homeAnimatedText::after {
  content: '|';
  animation: blink 1s step-start infinite;
  margin-left: 2px;
  margin-bottom: 30px;
}
#homeAnimatedText {
  transition: color 1s ease-in-out;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.introduction-text-container {
  top: 30%;
  left: 65%;
  color:#f5f5f5;
  width: 30em;
}
.introduction-text-h2 {
  font-family: 'SF-Pro', sans-serif;
  font-size: 2.5rem;
}
.introduction-text {
  font-family: 'SF-Pro', sans-serif;
  font-size: 1.25rem;
}
.intro-dbs {
  text-decoration: underline 2px #fcee0a;
}
.home-to-contact {
  background-color: #fcee0a;
  color: #0e0e0e;
  font-family: 'SF-Pro', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.5s;
  border: 1px #0e0e0e solid;
  font-size: 1.2rem;
}
.home-to-contact:hover {
  background-color: #0e0e0e;
  color: #fcee0a;
  border: 1px #fcee0a dotted;
}

/* Contact Me Section */
.contact-me {
  padding-top: 5rem;
}
.contact-me-container {
  background-color: rgba(0, 0, 0, 0.8);
}

.contact-me-h2 {
  font-family: 'SF-Pro', sans-serif;
  font-size: 2.5rem;
  color: #f5f5f5;
  text-decoration: underline 2px #fcee0a;
}

.contact-me-text {
  font-family: 'SF-Pro', sans-serif;
  font-size: 1.25rem;
  color: #f5f5f5;
}

.contact-me-container form {
  color: #f5f5f5;
}

.contact-me-btn {
  background-color: #fcee0a;
  color: #0e0e0e;
  font-family: 'SF-Pro', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  transition: 0.5s;
  border: 1px #0e0e0e solid;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.contact-me-btn:hover {
  background-color: #0e0e0e;
  color: #fcee0a;
  border: 1px #fcee0a dotted;
}

.contact-me-btn:active {
  transform: scale(0.95);
}

/* Projects Section */
.projects-title {
  font-family: 'SF-Pro', sans-serif;
  font-size: 2.5rem;
  color: #f5f5f5;
  text-decoration: underline 2px #fcee0a;
}
.projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
}

.projects-card-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
}
.project-card {
  background-color: rgba(255, 255, 255, 0.75);
  color: #f5f5f5;
  border-radius: 10px;
  padding: 1rem;
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px #fcee0a solid;
}
.project-card-image {
  border-radius: 6px;
}
.project-link {
  text-decoration: none;
}
.card-body h5 {
  font-family: 'SF-Pro', sans-serif;
  font-size: 1.5rem;
  color: #0e0e0e;
}
.card-body p {
  margin-top: 0.4rem;
  font-family: 'SF-Pro', sans-serif;
  font-size: 1rem;
  color: #0e0e0e;
}
.techs-used {
  font-family: 'SF-Pro', sans-serif;
  font-size: 0.75rem;
  color: #0e0e0e;
  background-color: #fcee0a;
  border-radius: 5px;
  border: 1px #0e0e0e dotted;
  padding: 0.25rem;
}
.codebutton, .demobutton{
  position: relative;
  font-family: 'SF-Pro', sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #e6bc03, #dd0000);
  color: #f5f5f5;
  overflow: hidden;
  margin-right: 0.2rem;
}
.codebutton svg, .demobutton svg{
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}
.codebutton span, .demobutton span{
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}
.codebutton::before, .codebutton::after, .demobutton::before, .demobutton::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
} 
.codebutton::before, .demobutton::before{
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.codebutton:hover, .demobutton:hover{
  color: #010101;
}
.codebutton:hover::before, .demobutton:hover::before{
  transform: translate3d(100%, 0, 0);
}
.codebutton:active, .demobutton:active{
  transform: scale(0.95);
}

/* About Me Section */
.about-me-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 10px;
  flex-direction: column;
  gap: 2rem;
}
.about-me-title {
  font-family: 'SF-Pro', sans-serif;
  font-size: 2.5rem;
  color: #f5f5f5;
  text-decoration: underline 2px #fcee0a;
}
.about-me-image {
  height: 20rem;
  width: auto;
  border-radius: 50%;
  border: 5px #fcee0a dotted;
}

/* Foooter Styling */
footer {
  background-color: #2a2a2a;
  padding-top: 2vw;
}
.go-up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-up div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 6vw;
  cursor: pointer;
}
.go-up svg {
  width: 2vw;
  height: 2vw;
  transition: 0.6s;
  color: #f5f5f5;
}
.go-up p {
  font-family: 'SF-Pro', sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  color: #f5f5f5;
  text-align: center;
  line-height: 0.2vw;
  margin-top: 0.5rem;
}
.go-up div:hover svg {
  transform: translateY(-0.5vw);
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
}
.footer-logo img {
  width: 20vw;
  height: auto;
  padding-left: 0.9vw;
}
.love {
  text-align: center;
  padding-bottom: 2vw;
  user-select: none;
}
.love p {
  font-family: 'SF-Pro', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  color: #f5f5f5;
  text-align: center;
}
.footer-langs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vw;
}
.footer-langs span {
  font-family: 'SF-Pro', sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  color: #0e0e0e;
  text-align: center;
  gap: 0.5vw;
  background-color: #fcee0a;
  border-radius: 5px;
  padding: 0.3vw;
  border: 1px #0e0e0e dashed;
}
.love div p {
  font-family: 'SF-Pro', sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  color: #f5f5f5;
  text-align: center;
}
.love p:nth-child(1) i {
  color: #ff0000;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  gap: 1vw;
  padding: 1vw;
}
.social-icons a {
  color: #f5f5f5;
  text-decoration: none;
}
.cr-text{
  user-select: all;
}
@media screen and (max-width: 640px) {
  footer{
      padding-top: 4.25vw;
      padding-bottom: 4.75vw;
  }
  .go-up{
      padding-bottom: 2vw;
  }
  .go-up div{
      width: 40vw;
  }
  .go-up svg{
      width: 6vw;
      height: 6vw;
  }
  .go-up p{
      font-size: 3vw;
  }
  .footer-logo img{
      width: 70vw;
      height: auto;
      margin-bottom: -2vw;
      padding-left: 3vw;
  }
  .love p{
      font-size: 4.5vw;
  }
  .footer-langs span{
      font-size: 3.5vw;
  }
  .love div p{
      font-size: 3.5vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 768px) {
  footer{
      padding-top: 2.5vw;
      padding-bottom: 2.5vw;
  }
  .go-up{
      padding-bottom: 2vw;
  }
  .go-up div{
      width: 20vw;
  }
  .go-up svg{
      width: 5vw;
      height: 5vw;
  }
  .go-up p{
      font-size: 2vw;
  }
  .footer-logo img{
      width: 60vw;
      height: auto;
      padding-left: 2.9vw;
      margin-bottom: -2.25vw;
  }
  .love p{
      font-size: 3vw;
  }
  .footer-langs span{
      font-size: 2.5vw;
  }
  .love div p{
      font-size: 2.5vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer{
      padding-top: 2vw;
      padding-bottom: 2vw;
  }
  .go-up{
      padding-bottom: 2vw;
  }
  .go-up div{
      width: 20vw;
  }
  .go-up svg{
      width: 4vw;
      height: 4vw;
  }
  .go-up p{
      font-size: 2vw;
  }
  .footer-logo img{
      width: 35vw;
      height: auto;
      margin-bottom: -3vw;
  }
  .love p{
      font-size: 2vw;
  }
  .footer-langs span{
      font-size: 1.5vw;
  }
  .love div p{
      font-size: 1.5vw;
  }
}